<?xml version="1.0" encoding="utf-8"?>
<!--
このファイルは、Web プロジェクトの公開 / パッケージ処理で使用されます。この MSBuild ファイルを編集すると、
この処理の動作をカスタマイズできます。詳細については、https://go.microsoft.com/fwlink/?LinkID=208121 を参照してください。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0a9e9848-6d5c-4eea-b0f6-330e447994f7/resourceGroups/myAuthResourceGroup/providers/Microsoft.Web/sites/VehicleDispatchPlan-Dev</ResourceId>
    <ResourceGroup>myAuthResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://vehicledispatchplan-dev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>vehicledispatchplan-dev.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>VehicleDispatchPlan-Dev</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$VehicleDispatchPlan-Dev</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MyDbConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:sri-test-db.database.windows.net,1433;Initial Catalog=VehicleDispatchPlan;User ID=sqladmin@sri-test-db;Password=Sriadmin#1944" Name="Data Source=tcp:sri-test-db.database.windows.net,1433;Initial Catalog=VehicleDispatchPlan;User Id=sqladmin@sri-test-db;Password=Sriadmin#1944" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="VehicleDispatchPlan.Models.MyDatabaseContext, VehicleDispatchPlan" MigrationConfiguration="VehicleDispatchPlan.Migrations.Configuration, VehicleDispatchPlan" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MyDbConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sri-test-db.database.windows.net,1433;Initial Catalog=VehicleDispatchPlan;User Id=sqladmin@sri-test-db;Password=Sriadmin#1944</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>