@{
    ViewBag.Title = "メニュー";
}

<div class="jumbotron">
    <h1>メニュー</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>管理者</h2>
        <p>@Html.ActionLink("受入可能人数管理 ≫", "../Forecast/Edit", null, new {@class = "btn btn-default" })</p>
    </div>

    <div class="col-md-4">
        <h2>配車担当者</h2>
        <p>@Html.ActionLink("教習生管理 ≫", "../Trainee/List", null, new { @class = "btn btn-default" })</p>
        <p>@Html.ActionLink("宿泊管理 ≫", "../Lodging/List", null, new { @class = "btn btn-default disabled" })</p>
    </div>
</div>